<header>
  <div class="logo">
    <a routerLink="/">
      <img src="../../../assets/images/Bank_of_Sakr.png" alt="Bank logo" />
    </a>
  </div>
  <div class="navigation">
    <ul>
      <div *ngIf="isLoginUser()">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/" (click)="logUserOut()">Logout</a></li>
      </div>
      <div *ngIf="!isLoginUser()">
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/signup">SignUp</a></li>
      </div>
    </ul>
  </div>
</header>
